$active-bgColor:#2c3e50;
$active-textColor:#ffffff;
$active-borderColor:#2c3e50;

$borderColor:#606266;
$bgrColor:#ffffff;
$textColor:#606266;

$focus-bgColor:#2c3e50;
$focus-textColor:#ffffff;
$focus-borderColor:#2c3e50;

$svg-color:#2c3e50;

$mask-bgColor:rgba(0,0,0,0.4);

$t-news-time:#2c3e50;
$t-news-text:#ffffff;
$t-news-bgColor:#ececec;
$t-news-borderColor:#2c3e50;

$t-fagui-title:#2c3e50;
$t-fagui-text:#ffffff;
$t-fagui-bgColor:#ececec;
$t-fagui-borderColor:#2c3e50;

$t-huodong-title:#2c3e50;
$t-huodong-text:#ffffff;
$t-huodong-bgColor:#ececec;
$t-huodong-borderColor:#2c3e50;

$body-bgColor:#e2e1e4;

$detail_text:#2c3e50;

$sub-color:#ccc;
$title-color:#2c3e50;

